* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(11, 11, 88);
    color: white;
    background-image: url(./images/Screenshot\ 2024-02-16\ 131853.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    padding: 20px;
    margin: 30px;
    background-color: rgb(11, 11, 88);
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;

}

.flex {
    display: flex;
    flex-direction: column;
}

#score {
    background-color: white;
    color: rgb(134, 134, 221);
    width: 10%;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
}

.num {
    text-align: center;
    font-size: 40px;
    color: rgb(11, 11, 88);
}

.btn {

    color: red;
    padding: 5px;
    background-color: rgb(15, 15, 96);
    width: 10rem;
    height: 40px;
    position: relative;
    left: 90em;
    top: 20em;
}

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 8em;

}

.game2 {
    display: flex;
    justify-content: center;
    width: 400px;
    position: relative;

}

#rock,
#comp-rock {
    background-color: rgb(138, 242, 245);
    border-radius: 8em;
    border: solid rgb(145, 246, 30);
    position: absolute;
    padding: 3.4em;
    border-width: 1em;
    left: 6em;
    top: 10em;
}

#paper,
#comp-paper {
    background-color: rgb(242, 191, 61);
    border-radius: 8em;
    padding: 3em;
    border: solid rgb(26, 218, 240);
    border-width: 1em;
    position: absolute;
    top: -3em;
    left: 0em;

}

#scissors,
#comp-scissors {
    background-color: rgb(251, 254, 83);
    border-radius: 8em;
    padding: 3em;
    border: solid rgb(240, 78, 205);
    border-width: 1em;
    position: absolute;
    top: -3em;
    left: 14em;

}

#comp-choice {
    display: none;
}


#triangle {
    position: relative;
    top: .4em;
    left: 2em;
}

#reset {
    color: red;
    padding: 5px;
    background-color: rgb(15, 15, 96);
    width: 10rem;
    height: 40px;
    display: none;
    position: relative;
    top: 40em;
    left: 60em;

}

#result {
    font-size: 70px;
    color: red;
    text-align: center;
    text-shadow: 2px 2px chartreuse;
}
